root {
}
.split-pane {
    -fx-background-color: linear-gradient(to bottom right, #1f1c2c, #414345);
}
.split-pane VBox{
    -fx-background-color: linear-gradient(to bottom, #232526, #414345);
}
.split-pane-divider {
    -fx-background-color: transparent;
}

.menuTitle {
    -fx-background-color: transparent;
}
.menuTitle .text {
    -fx-fill: #faf9f8;
    -fx-text-weight: bold;
}
.titled-pane .title {
    -fx-color: #3b5bdb;
    -fx-background-color: #323130;
    -fx-padding: 0.3333em 0.75em 0.3333em -0.5em;
    -fx-border-radius: 0;
}
.titled-pane .title .text {
    -fx-fill: #faf9f8;
}
.titled-pane *.content {
    -fx-border-width: 0;
}
.titled-pane .list-view .list-cell:selected {
    -fx-background-color: #0078d4;
}
.titled-pane .list-view .list-cell {
    -fx-background-color: #3b3a39;
}
.titled-pane .list-view .list-cell .text {
    -fx-fill: #faf9f8;
}
.titled-pane .content {
    -fx-background-color: #f3f2f1;
}
.titled-pane .button {
    -fx-background-color: #605e5c;
}
.titled-pane .button .text {
    -fx-fill: #000000;
}
.button {
    -fx-background-color: #3b3a39;
    -fx-cursor: hand;
}
.button .text {
    -fx-fill: #faf9f8;
}
.titled-pane>.title>.arrow-button>.arrow {
    -fx-background-color: transparent;
}
.text-area {
    -fx-text-fill: white;
}
.text-area .content,
.text-field {
    -fx-control-inner-background: #605e5c;
}

.check-box .text {
    -fx-fill: #faf9f8;
}
.check-box .box {
    -fx-background-color: #eff6fc;
    -fx-border-color: transparent;
}
.check-box:selected .mark {
    -fx-background-color: #eff6fc;
}
.check-box:selected .box {
    -fx-background-color: #0078d4;
}
.title-text {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}